body {
    background-color: #6B7D7F;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    flex-direction: column;
}

button {
    background-color: #545B5B;
    border: 2px solid #0f1813;
    border-radius: 4px;
    color: #0f1813;
}

.header {
    background-color: #0f1813;
    color: #6B7D7F;
    padding: 0 48px;

    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
}

ul {
    display: flex;
    gap: 20px;

    list-style-type: none;
}

a {
    text-decoration: none;
    color: #6B7D7F;
  }

.section-one {
    background-color: #0F1813;
    color: #6B7D7F;
    padding: 20px 48px;

    display: flex;
}

.left {
    flex: 1;
    margin-right: 10px
}

.left h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.left p {
    margin-top: 0px;
}

.right {
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.main-image {
    width: 100%;
}

.section-two{
    display: flex;
    flex-direction: column;
    padding: 20px 48px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    
}

.card{
    flex: 1;
    text-align: center;
    font-size: 14px;
}
.img {
   
}

.section-three {
    background-color: #465C64;
    padding: 12px 48px;

    display: flex;
    flex-direction: column;
}

.section-three , p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.section-three , h6 {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-top: 0px;
    margin-top: 0px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #545B5B;
    color: #0f1813;
    margin: 30px 48px;
    padding: 0px;
    border-radius: 4px;
}

.section-four h6 {
    font-size: 20px;
    margin: 4px 4px 0px 4px;
}

.section-four p {
    font-size: 10px;
    margin: 0px 4px 4px 4px;
}

.left-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;

    flex: 4;
}

.right-modal {
    flex: 1;
}

.right-modal button {
    background-color: #545B5B;
    border: 2px solid #0F1813;
    border-radius: 4px;
    color: #0f1813;
}

.footer {
    background-color: #0f1813;
    color: #6B7D7F;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
